fractals.egg-info/dependency_links.txt
fractals.egg-info/PKG-INFO
fractals.egg-info/requires.txt
fractals.egg-info/SOURCES.txt
fractals.egg-info/top_level.txt
fractals/__pycache__/__init__.cpython-311.pyc
fractals/__pycache__/common.cpython-311.pyc
fractals/__pycache__/mandelbrot.cpython-311.pyc
fractals/__pycache__/render_fractal.cpython-311.pyc
fractals.egg-info/entry_points.txt
